* {
  padding: 0;
  margin: 0;
}
body {
    font-size: 20px !important;
}
.clear {
  clear: both;
}


h1 {
  text-align: center;
}
#content {
    visibility: hidden !important;
}



table {
  text-align: center;
}
table td {
  border: 1px solid black;
}



.show_losy div {
    font-family: inherit;
  text-align: center;
  font-size: 33px;
}
#display_losy div {
border: 3px solid #FFFFFF;
    background: linear-gradient(to right,#00A3BE,#08554A);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
    color: #FFFFFF;
}
#display_losy_ile div {
    font-size: .5em;
        border: 1px solid #E3E3E3;
        color: #7E7E7E;

}
#last_losowanie {
    width: 22%;
    text-align: center;
    border: 3px solid #FFFFFF;
    background: linear-gradient(to right,#049164,#08551C);
        border-radius: 15px;
    padding: 17px;
    margin-top: 12px;
    color: #FFFFFF;
}


