* {
  padding: 0;
  margin: 0;
}
body {
    font-size: 20px !important;
}
.clear {
  clear: both;
}


h1 {
  text-align: center;
}
#content {
    visibility: hidden !important;
    width: 0px;
    height: 0px;
    overflow: hidden;
}



table {
  text-align: center;
}
table td {
  border: 1px solid black;
}



.show_losy div {
    font-family: inherit;
  text-align: center;
  font-size: 33px;
}
#display_losy div {
border: 3px solid #FFFFFF;
    background: linear-gradient(to right,#00A3BE,#08554A);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
    color: #FFFFFF;
}
#display_losy_ile div {
    font-size: .5em;
        border: 1px solid #E3E3E3;
        color: #7E7E7E;

}
.windows {
    width: 22%;
    text-align: center;
    border: 3px solid #FFFFFF;
    background: linear-gradient(to right,#049164,#08551C);
        border-radius: 15px;
    padding: 17px;
    margin-top: 12px;
    color: #FFFFFF;
}


.ball {
  float: left;
  background: #969696;
  color: #FFF;
  margin-right: 10px;
  border-radius:10px;
  width: 30px;
  cursor: pointer;
}
.repeat {
  background: #d29626;
  color: #FFF;
}


#podsumowanie table tr td {
  border-left: none;
  border-right: none;
}



#popup {
  position: absolute;
  display: none;
  background: rgba(255,255,255,0.8);
  top: 0px;
  left: 0px;
  padding: 5px;
  color: #292929;
  font-family: verdana;
  font-size:15px;

  border: 1px solid grey;
  border-radius: 5px;
  transition: all .5s;
}


